<div class="list row">
  <div class="col-md-6">
    <div class="container">
      <div class="row table-head">
        <div class="col-md-8 center-text">
          <h4><strong>Listado de Tareas</strong></h4>          
        </div>       
      </div>
      <div class="col-md-14">
            <ul>
              <li
                class="row striped"
                *ngFor="let task of tasks; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveTask(task, i)"
              >
                {{ task.title }}
              </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-task-details
      [viewMode]="true"
      [currentTask]="currentTask"
    ></app-task-details>
  </div>
  
  <div class="col-md-8">
    <br />
    <p>Haga click en una Tarea...</p>
  </div>

</div>
